.first {
display: flex;
flex-direction: column;
align-items: center;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 1920px;
    background-color: #343a40 !important;
}

.menu {
    display: flex;
    height: 56px;
    width: 1140;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

body {
    margin: 0px;
    padding: 0px;
}

.first-photo {
    width: 100%;
}
img {
    width: 20px;
    height: 20px;
}

.camera-menu {
    margin-right: 5px;
}

.name-menu {
    font-weight: bolder;
    color: #fff;
    font-size: 1.25rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.logo-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-example {
    width: 640px;
    height: 216px;
}

.second-example {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: white !important;
}

.head-example {
    text-align: center !important;
    line-height: 1.2;
    font-weight: 300;
    color: #212529;
    font-family: "-apple-system" ,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.text-example {
    font-family: "-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    color: #6c757d !important;
    font-weight: 300;
    text-align: center !important;
    font-size: 1.25rem;
}

.button-example1 {
    color:
    #fff;
    background-color:
    #0069d9;
    border-color:
    #0062cc;
}

.button-example2 {
    color:
    #fff;
    background-color:
    #5a6268;
    border-color:
    #545b62;

}

.buttons-form {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
}

.squares-full {
    width: 1903px;
    height: 1326px;
    background-color: #f8f9fa !important;
    padding-top: 3rem !important;
    padding-bottom: 6rem !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.squares-framed {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    width: 348px;
    height: 410px;
    margin: 10px;
    border-radius:  5px !important;
    border: #6c757d 1px;
    margin: 20px;
}

.square-top {
    background-color: #6c757d;
    height: 225px;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-bottom {
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:
    #212529;
   
    padding: 2rem;
   
}

.buttons-square {
    position: relative;
   
}

.square-button1 {
    width: 47px;
    height: 31px;
    color:
    #fff;
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: inherit;
    color:grey;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: -3px;
    border-radius: 0.2rem;
  
  
}

.square-button2 {
    width: 41px;
    height: 31px;
    color:
    #fff;
    cursor: pointer;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: inherit;
    color:grey;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    border-radius: 0.2rem;
    
   
}

.bottom-bottom-square {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.square-time {
    color:
    #6c757d !important;
    font-size: 80%;
    font-weight: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";line-height: 1.5;
}

.text-square {
    display: flex;
    align-content: center;
}

.end-framed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 1140px;
    height: 152px;
    color: #6c757d !important;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.end-full {
    display: flex;
    justify-content: center;
    width: 1903px;
    height: 152px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}